    <ul>
        <li>
            {#<a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}">Back to the list</a>#}
            <a  href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-shadow btn-default "><i class="fa fa-arrow-left"></i> Back to the list</a>

        </li>

        {%- if ('edit' in actions) and (not hide_edit) %}

        <li>
            {#<a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">Edit</a>#}
            <a  href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-warning pull-right"><i class="icon-fixed-width icon-book"></i> Edit</a>

        </li>

        {%- endif %}

        {%- if ('delete' in actions) and (not hide_delete) %}

        <li>
            {{ '{{ form_start(delete_form) }}' }}
                {#<input type="submit" value="Delete">#}
                <button type="submit" class="btn btn-danger pull-right"><i class="icon-trash icon-large"></i> Delete </button>

            {{ '{{ form_end(delete_form) }}' }}
        </li>

        {%- endif %}

        {%- if ('edit_edit' in actions) and (not hide_edit_edit) %}
            {{ '{{ form_start(edit_form) }}' }}
            {{ '{{ form_widget(edit_form) }}' }}
            <li>
                <button type="submit" class="btn btn-warning pull-right"><i class="icon-fixed-width icon-book"></i> Edit </button>
            </li>
            {{ '{{ form_end(edit_form) }}' }}

        {%- endif %}

    </ul>
