<!DOCTYPE html>
<html lang="{{ app.request.locale}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('bundles/appfront/img/viseo1.gif') }}">

    <title>BackOffice</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
      <link href="{{ asset('bundles/appadmin/css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ asset('bundles/appadmin/css/bootstrap-reset.css') }}" rel="stylesheet">
      <link href="{{ asset('bundles/appadmin/css/font-awesome/font-awesome.min.css') }}" rel="stylesheet">
      <link href="{{ asset('bundles/appadmin/css/style-responsive.css') }}" rel="stylesheet">
      <link href="{{ asset('bundles/appadmin/css/multi-select.css') }}" rel="stylesheet"/>
      <link href="{{ asset('bundles/appadmin/css/demo_table.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/appadmin/js/jcrop/css/jquery.Jcrop.min.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/appadmin/css/fancybox/fancybox.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/appadmin/css/gallery.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/appadmin/css/datepicker.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/appadmin/css/datetimepicker.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/appadmin/css/timepicker.css') }}" rel="stylesheet" />
      <link href="{{ asset('bundles/appadmin/css/select2.css') }}" rel="stylesheet">
      <link href="{{ asset('bundles/appadmin/css/style.css') }}" rel="stylesheet">
   {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/appfront/js/libs/modernizr-2.6.2.min.js') }}"></script>
      <script src="{{ asset('bundles/appfront/js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
  <section id="container" class="">
      <!--header start-->
      <header class="header white-bg">
            <a href="/" class="logo"> Backoffice </a>
      </header>
      {#{% include "AppAdminBundle:Menu:main.html.twig" %}#}
      <section id="main-content">
          <section class="wrapper site-min-height">
              {% for flashMessage in app.session.flashbag.get('error') %}
                  <div class="alert alert-block alert-danger fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="fa fa-times"></i>
                      </button>
                      {{ flashMessage }}
                  </div>
              {% endfor %}
              {% for flashMessage in app.session.flashbag.get('success') %}
                  <div class="alert alert-success fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="fa fa-times"></i>
                      </button>
                      {{ flashMessage }}
                  </div>
              {% endfor %}
              {% for flashMessage in app.session.flashbag.get('notice') %}
                  <div class="alert alert-info fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="fa fa-times"></i>
                      </button>
                      {{ flashMessage }}
                  </div>
              {% endfor %}

            {% block body %}
            {% endblock %}
          </section>
      </section>
      <footer class="site-footer">
          <div class="text-center">
              2017 &copy; BackOffice Viseo
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>
{% block javascripts %}

    {#<script>#}
        {#window.locale       = '{{ locale }}';#}
        {#window.country      = '{{ country }}';#}
    {#</script>#}

    <!-- --- JQUERY --- -->
    <script src="{{ asset('bundles/appadmin/js/jquery-1.8.3.min.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/jquery-ui-1.9.2.custom.min.js') }}" ></script>

    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    {#<script src="{{ url('bazinga_jstranslation_js') }}"></script>#}

    <!-- --- JQUERY PLUGINS --- -->
    <script src="{{ asset('bundles/appadmin/js/jquery.nicescroll.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/jquery.scrollTo.min.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/jquery.customSelect.min.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/jquery-multi-select/js/jquery.multi-select.js') }}"></script>
    <script src="{{ asset('bundles/appadmin/js/jquery-multi-select/js/jquery.quicksearch.js') }}"></script>

    <!-- --- BOOTSTRAP --- -->
    <script src="{{ asset('bundles/appadmin/js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/bootstrap-datepicker/bootstrap-datepicker.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/bootstrap-datepicker/locales/bootstrap-datepicker.locales.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/bootstrap-timepicker.js') }}" ></script>

    <!-- --- WYSIYYG --- -->
    <script src="{{ asset('bundles/appadmin/js/tinymce/tinymce.min.js') }}"></script>

    <!-- --- DATATABLE --- -->
    <script src="{{ asset('bundles/appadmin/js/jquery.dataTables.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/DT_bootstrap.js') }}" ></script>

    <!-- --- OTHER --- -->
    <script src="{{ asset('bundles/appadmin/js/count.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/common-scripts.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/spinner.min.js') }}"></script>
    <script src="{{ asset('bundles/appadmin/js/jcrop/js/jquery.Jcrop.min.js') }}"></script>
    <script src="{{ asset('bundles/appadmin/js/jquery.fancybox.pack.js') }}"></script>
    <script class="include" type="text/javascript" src="{{ asset('bundles/appadmin/js/jquery.dcjqaccordion.2.7.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/modernizr.custom.js') }}"></script>
    <script src="{{ asset('bundles/appadmin/js/select2.min.js') }}" ></script>
    <script src="{{ asset('bundles/appadmin/js/scripts.js') }}" ></script>

{% endblock %}
  </body>
</html>
